/* Responsive */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    body {
        padding: 1rem;
    }

    form {
        padding: 1.5rem;
    }

    #pieces-display {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    #piece-infos {
        padding: 1.5rem;
    }
}
